<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Login Project{% endblock %}</title>
  </head>
  <body>
    <a href="{% url "root" %}"><h1>Login Project</h1></a>
    {% if  user.is_authenticated %}
      환영합니다. <a href="{% url "profile" %}">{{ user }}님.</a>
      <a href="{% url "logout" %}?next={{ request.path }}" onclick="return confirm('Are you sure');">로그아웃</a>
    {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}">로그인</a>
      <a href="{% url 'signup' %}?next={{ request.path }}">회원가입</a>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <ul>
          {{ message.message }}
        </ul>
      {% endfor %}
    {% endif %}

    <hr>

    {% block content %}{% endblock %}

    <hr>
    &copy; 2019. Login Project.
  </body>
</html>
